<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simulation">

  <xacro:include filename="$(find ros2_control_wheelchair)/description/material/wheelchair.materials.xacro" />

  <xacro:include filename="$(find ros2_control_wheelchair)/description/urdf/wheelchair_description.urdf.xacro" />
 
  <xacro:wheelchair/>

  <xacro:include filename="$(find ros2_control_explorer)/description/urdf/explorer_old_description.urdf.xacro" />

  <xacro:explorer_old_description/>

  <link name="fixation">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find disabled_simulator)/description/meshes/visual/fixation.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find disabled_simulator)/description/meshes/collision/fixation.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>

  <joint name="wheelchair_fixation" type="fixed">
    <origin xyz="0.1 -0.29 0.038" rpy="0 0 0"/>
    <parent link="seat"/>
    <child link="fixation"/>
  </joint>

  <joint name="fixation_explorer" type="fixed">
    <origin xyz="0.0 -0.075 0.0" rpy="0 0 0"/>
    <parent link="fixation"/>
    <child link="base_link"/>
  </joint>
  
  <xacro:include filename="$(find disabled_simulator)/description/ros2_control/simulation.ros2_control.xacro" />
   
  <xacro:simulation_ros2_control name="simulation"/>
   
  <xacro:include filename="$(find disabled_simulator)/description/gazebo/simulation.gazebo.xacro" />
  <xacro:simulation_gazebo/>
   
</robot>